AnilNayakIIB10/JAXB_Application/sample.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="Employee" type="NewType"></xsd:element>

    <xsd:complexType name="NewType">
    	<xsd:sequence>
    		<xsd:element name="name" type="xsd:string"></xsd:element>
    		<xsd:element name="address" type="xsd:string"></xsd:element>
    		<xsd:element name="salary" type="xsd:double"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>
</xsd:schema>