AnilNayakIIB10/AshokTaskUsingSelect/anil.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:csv="http://www.ibm.com/dfdl/CommaSeparatedFormat" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">


    <xsd:import namespace="http://www.ibm.com/dfdl/CommaSeparatedFormat" schemaLocation="IBMdefined/CommaSeparatedFormat.xsd"/>
    <xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format documentFinalTerminatorCanBeMissing="yes" encoding="{$dfdl:encoding}" escapeSchemeRef="csv:CSVEscapeScheme" ref="csv:CommaSeparatedFormat"/>
		</xsd:appinfo>
	</xsd:annotation>


	<xsd:element ibmSchExtn:docRoot="true" name="anil">
		<xsd:complexType>
			<xsd:sequence dfdl:separator="">
				<xsd:element dfdl:terminator="%CR;%LF;%WSP*;" name="Header">
					<xsd:complexType>
						<xsd:sequence dfdl:separatorSuppressionPolicy="trailingEmpty">
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="Name" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value2" name="Id" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value3" name="Address" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value4" name="Salaries" type="xsd:string"/>
                                                                            </xsd:sequence>
					</xsd:complexType>
				</xsd:element>				
                			                                    <xsd:element maxOccurs="unbounded" name="Record">
          <xsd:complexType>
            <xsd:sequence dfdl:outputNewLine="{}" dfdl:separator="," dfdl:terminator="%CR;%LF;">
              <xsd:element ibmDfdlExtn:sampleValue="value1" name="Name" type="xsd:string"/>
              <xsd:element ibmDfdlExtn:sampleValue="value2" name="Id" type="xsd:string"/>
              <xsd:element ibmDfdlExtn:sampleValue="value3" name="Address" type="xsd:string"/>
              <xsd:element ibmDfdlExtn:sampleValue="value4" name="Salariesf" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
            </xsd:sequence>
		</xsd:complexType>
	</xsd:element>


</xsd:schema>