AnilNayakIIB10/MQXsdValidations/myxml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Employees">
	     <xsd:complexType>
	       <xsd:sequence>
	          <xsd:element name="Employee">
	            <xsd:complexType>
	              <xsd:sequence>
	                <xsd:element name="name" type="xsd:string"></xsd:element>
	                 <xsd:element name="id" type="xsd:int"></xsd:element>
	              </xsd:sequence>
	            </xsd:complexType>
	          </xsd:element>
	       </xsd:sequence>
	     </xsd:complexType>
	</xsd:element>
</xsd:schema>