AnilNayakIIB10/TDS_TO_XML/emp.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:csv="http://www.ibm.com/dfdl/CommaSeparatedFormat" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">


    <xsd:import namespace="http://www.ibm.com/dfdl/CommaSeparatedFormat" schemaLocation="IBMdefined/CommaSeparatedFormat.xsd"/>
    <xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format documentFinalTerminatorCanBeMissing="yes" encoding="{$dfdl:encoding}" escapeSchemeRef="csv:CSVEscapeScheme" ref="csv:CommaSeparatedFormat"/>
		</xsd:appinfo>
	</xsd:annotation>


	<xsd:element ibmSchExtn:docRoot="true" name="Data">
		<xsd:complexType>
			<xsd:sequence dfdl:separator="">
				<xsd:element dfdl:terminator="%CR;%LF;%WSP*;" name="emp">
					<xsd:complexType>
						<xsd:sequence dfdl:separatorSuppressionPolicy="trailingEmpty">
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="id" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value2" name="name" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value3" name="salary" type="xsd:string"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>				
                			<xsd:element dfdl:outputNewLine="{}" dfdl:terminator="%CR;%LF;" maxOccurs="unbounded" name="Address">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element ibmDfdlExtn:sampleValue="" name="city" type="xsd:string"/>
              <xsd:element ibmDfdlExtn:sampleValue="" name="state" type="xsd:string"/>
              <xsd:element ibmDfdlExtn:sampleValue="" name="pin" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
            </xsd:sequence>
		</xsd:complexType>
	</xsd:element>


</xsd:schema>